<div class="about">
	<div class="intro">
	  <h1>
	    About the Patent Database</h1>
	  <p><a href="about.php">Overview</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="about_starmetrics.php">Star Metrics</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="about_topics.php">Topic Modeling</a>&nbsp;&nbsp;|&nbsp;&nbsp;Patents Database</p>
	</div><!-- /intro -->
	<p>&nbsp;</p>
	<p>      The NBER patent database made the U.S. Patent record widely available, fueling a dramatic increase in research on technology and innovation (see Hall, Trajtenberg, and Jaffe, 2001 – the work has received over 1370 citations on Google Scholar as of late December, 2011) [1]. This effort drastically reduced the barriers to entry and made patent data available to a larger community of researchers that lack the hardware or programming skills to access the raw data. Lee Fleming and Ron Lai, funded by three SciSIP awards<sup>1</sup>, worked to enable the disambiguation of individual inventor names from these data, by both the National Bureau of Economic Research. [2]</p>
	<p>
	  The patent data documented here result from three ways of identifying the correlation (as distinct from causality) between NSF funding and patenting activity.</p>
	<ol>
	  <li>The patent directly cites an NSF award in the USPTO application</li>
	  <li>The patentee is a previous recipient of NSF funding</li>
	  <li>The patent cites a patent received by an NSF funding recipient</li>
	  </ol>
<p>
  Patents are only one measure of the results of scientific research. The portfolio explorer will expand to include additional measures – including publications and other measures of scholarly work – in future releases. The active engagement of the scholarly community in <a href="http://rbm.nih.gov/profile_project.htm" target="_blank">SciENCV</a> will be an important source of information about the scientific, economic and social results of scientific funding.</p>
<p>
  [1] Jaffe, A. and M. Trajtenberg (eds.) Patents, Citations and Innovations. Cambridge, MA: The MIT Press, 2002.
  [2] Ronald Lai; Alexander D'Amour; Amy Yu; Ye Sun; Lee Fleming, 2011, &quot;Disambiguation and Co-authorship Networks of the U.S. Patent Inventor Database (1975 - 2010)&quot;, http://hdl.handle.net/1902.1/15705 UNF:5:RqsI3LsQEYLHkkg5jG/jRg== V3 [Version] 
  <a href="http://dvn.iq.harvard.edu/dvn/dv/patent/faces/study/StudyPage.xhtml?globalId=hdl:1902.1/15705&versionNumber=3" target="_blank">http://dvn.iq.harvard.edu/dvn/dv/patent/faces/study/StudyPage.xhtml?globalId=hdl:1902.1/15705&amp;versionNumber=3</a>
</p>
<p>&nbsp;</p>
    <p><sup>1</sup> SciSIP Awards <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0830287&WT.z_pims_id=501084" target="_blank">0830287</a> <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0965279&WT.z_pims_id=501084" target="_blank">0965279</a> (collab with <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0965341&WT.z_pims_id=501084" target="_blank">0965341</a>), <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1064182&WT.z_pims_id=501084" target="_blank">1064182</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
<p>&nbsp; </p>
</div>