<div class="about">
<div class="intro">
  <h1>
    About the Star Metrics Portfolio Explorer Project</h1>
  <p>Overview&nbsp;&nbsp;|&nbsp;&nbsp;<a href="about_starmetrics.php">Star Metrics</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="about_topics.php">Topic Modeling</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="about_patents.php">Patents Database</a></p>
<p>&nbsp;</p>
</div><!-- /intro -->
<p>Science agencies have been tasked by both the Administration and Congress to make sure that their R&amp;D investments are spent wisely and well.  One way in which science agencies have responded to this directive is to establish the <a href="about_starmetrics.php">STAR METRICS</a> (Science and Technology for America’s Reinvestment: Measuring the Effects of Research on Innovation, Competitiveness and Science) program. The goal of the program is to enable participants to use consistent data, models and tools to generate analysis and reports for their respective stakeholders while minimizing agency costs and respondent burden.</p>
<p>
  The Portfolio Explorer prototype represents an first step towards achieving this goal. It uses new approaches (<a href="about_topics.php">topic modeling</a>) and new data (<a href="about_patents.php">the patent database</a>) to describe scientific portfolios.  The prototype is expected to expand to include more sources of data as well as to include more agencies in the  future. Researchers wishing to organize workshops to suggest new data sources and data elements are encouraged to respond to the SciSIP program's <a href="http://www.nsf.gov/publications/pub_summ.jsp?ods_key=nsf12010" target="_blank">Dear Colleague Letter on Describing the Conduct of Science in the Information Age</a>.</p>
<p>
  We encourage your input and feedback.  Please send any comments and suggestions to us at <a href="mailto:PEfeedback@nsf.gov">PEfeedback@nsf.gov</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: right"><a href="about_starmetrics.php">About Star Metrics &gt;</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>