<div class="exploc feedback">

	<div class="intro">
	<h3>Please Send Us Your Feedback!</h3>
	<p>We are currently in the early development stage of the Star Metrics Portfolio Explorer tool set and would very much welcome your feedback!</p>
	<p>We'd like to hear from you regarding what you like or don't like, and what you'd want to see more of.  Please contact us by sending email to <a href="mailto:PEfeedback@nsf.gov">PEfeedback@nsf.gov</a></p>
	<p>We'll be happy to respond to your questions and suggestions.</p>
	</div><!-- /intro -->
</div>



