	<div class="intro">
	  <h1>Welcome</h1>
	</div><!-- /intro -->
	<p><br>
	  This site provides four tools that provide different views of scientific portfolios. The tools are provided by the <a href="about.php">STAR METRICS</a> program; an interagency collaboration to provide a stronger empirical basis for science policy decisions.<br>
	  <br>
	</p>
	<table class="welcome-thumbs">
	  <tr valign="top">
	    <td width="25%" align="center"><h3>Portfolio Viewer</h3></td>
	    <td width="25%" align="center"><h3>Expertise Locator</h3></td>
	    <td width="25%" align="center"><h3>Patent Viewer</h3></td>
	    <td width="25%" align="center"><h3>Map Viewer</h3></td>
	    </tr>
	  <tr valign="top">
	    <td width="25%" align="center"><a href="explore.php"><img src="img/thumb-idx-portfo-2.png" alt="Portfolio Viewer" width="225" height="195" border="0"></a></td>
	    <td width="25%" align="center"><a href="locate.php"><img src="img/thumb-idx-exp-2.png" alt="Expertise Locator" width="225" height="195" border="0"></a></td>
	    <td width="25%" align="center"><a href="patents.php"><img src="img/thumb-idx-patents.png" alt="Patents Viewer" width="196" height="195" border="0"></a></td>
	    <td width="25%" align="center"><a href="map.php"><img src="img/thumb-idx-rd-2.png" alt="Map Viewer" width="196" height="195" border="0"></a></td>
	    </tr>
	  <tr valign="top">
	    <td width="25%">The Portfolio Viewer provides information about portfolios at the program, division or directorate level based on scientific <a href="about_topics.php">topics</a>. You can view detailed information about  proposals, awards, researchers and institutions.  Detailed information is available at the left hand side of each page; summary statistics about selected areas is provided on the right hand side.</td>
	    <td width="25%">The Expertise Locator helps locate researchers who have submitted or been awarded proposals in different topic areas. The Expertise Locator provides detailed information on their proposals, their co-PIs and their institutions.</td>
	    <td width="25%">This tool provides information about <a href="about_patents.php">patents</a> that were received by NSF grantees. Users can view patent data by Division and/or Program Element Codes.</td>
	    <td width="25%">This tool provides a geographic overview of NSF investments by institution and an earlier version of topics.  It can be used to respond to requests on what research has been funded in what areas, as well as to understand the geographic dimensions of investments. A later release will update the topics to synchronize with the rest of the Portfolio Explorer tools.</td>
	    </tr>
	  </table>
	<p><br>
	  <br>
	</p>
	<h2 style="color: #336699; font-size: 15px;">Send Us Feedback</h2>
	<p><br>
	  We would love to hear from you! Please email us at <a href="mailto:PEfeedback@nsf.gov">PEfeedback@nsf.gov</a> with any questions or feedback. If you have a problem to report, please include the url of the page you were on together with a description of what happened. </p>
<p>&nbsp; </p>
	<p>&nbsp; </p>
